@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  background-color: #0B0B0B;
}

#root {
  background-color: #0B0B0B;
}
html,
body {
  scroll-behavior: auto;
  overflow-x: hidden;
  background: #0B0B0B;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}